@using ProjectMaleabAlKorbV2.Models
@model Reservation

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PublicPage.cshtml";
}



@section Style_Reservation{
    <!-- Stylesheet -->
    <link href="~/reservation_form/css/wickedpicker.css" rel="stylesheet" />

    <link href="~/reservation_form/css/jquery-ui.css" rel="stylesheet" />


    <link href="~/reservation_form/css/style.css" rel="stylesheet" />
    <!-- //Stylesheet -->
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montserrat+Alternates:200,400,500,600,700" rel="stylesheet">
    <!--//fonts-->
}



<!--Body-->
<!--background-->
<br />
<h1> <span>O</span>nline <span>F</span>oot <span>B</span>ooking <span>F</span>orm </h1>

<h3 class="text-center" style="color: #4caf50;">Maleab Al Korb</h3>

<br />
<div class="bg-agile">
    <div class="left-agileits-w3layouts-img">
        <h3>What we provide you</h3>
        <ul>
            <li><span>.</span>24x7 Foot service are available</li>
            <li><span>.</span>Online booking facility</li>
            <li><span>.</span>App Comming....  </li>

        </ul>
        <p>- Maleab Al Korb Teams.</p>
    </div>
    <div class="book-appointment">
        <h2>Personal Details</h2>
        <div class="book-agileinfo-form">
            <form action="#" method="post" id="frmRes">
                <div class="main-agile-sectns">
                    <div class="agileits-btm-spc form-text1">
                        @*@Html.TextBoxFor(r => r.FullName, new { @id = "resName", @class = "form-control", @placeholder = "Full Name", @required = "" })*@
                        <input type="text" name="fullname" id="resName" class = "form-control" required="" value="@Session["names"]" disabled>
                    </div>
                    <div class="agileits-btm-spc form-text2">
                        @*@Html.TextBoxFor(r => r.Phone, new { @id = "resphone", @class = "form-control", @placeholder = "Phone", @required = "" })*@
                        <input type="text" name="phone" class = "form-control" required="" value="@Session["phone"]" disabled>
                    </div>
                </div>
                <div class="agileits-btm-spc form-text">
                    <input type="email" name="email" placeholder="Email" required="" value="@Session["emails"]" disabled>
                </div>
                <div class="clear"></div>
                <h2 class="sub-head-w3ls">Booking Details</h2>
                <div class="main-agile-sectns">
                    <div class="agileits-btm-spc form-text1">
                        @Html.TextBoxFor(r => r.reservationDate, new { @id = "dateRes", @class = "form-control", @placeholder = "Choose Date to Play", @required = "" })

                    </div>
                    <div class="agileits-btm-spc form-text1">
                        @Html.DropDownListFor(r => r.Location, new SelectList(ViewBag.data, "stadiumName", "stadiumName"),
                        new { @style = "color: #fff; background: rgba(255, 255, 255, 0); border: none;border-bottom: 1px solid rgba(255, 255, 255, 0.27);box-sizing: border-box;font-family: 'Roboto', sans-serif;letter-spacing: 1.5px; padding: 0;outline: none;", @id = "locations", @class = "form-control frm-field form-text", @required = "" })

                        @*@Html.DropDownListFor(r => r.Location, new SelectList(Enum.GetValues(typeof(location)))
                       , "Seleted City" ,
                       new { @style= "color: #fff; background: rgba(255, 255, 255, 0); border: none;border-bottom: 1px solid rgba(255, 255, 255, 0.27);box-sizing: border-box;font-family: 'Roboto', sans-serif;letter-spacing: 1.5px; padding: 10px 10px;outline: none;", @id = "locations", @class = "form-control frm-field form-text", @required = "" })*@

                    </div>

                </div>
                <div class="main-agile-sectns agileits-btm-spc form-text2">

                    @Html.DropDownListFor(r => r.reservationTime, new List<SelectListItem>
                       {
                          new SelectListItem{Text = "9:00 h - 10:00 h", Value= "9:00" },
                          new SelectListItem{Text = "10:00 h - 11:00 h", Value= "10:00" },
                          new SelectListItem{Text = "11:00 h - 12:00 h", Value= "11:00" },
                          new SelectListItem{Text = "12:00 h -13:00 h", Value= "12:00" },
                          new SelectListItem{Text = "13:00 h - 14:00 h", Value= "13:00" },
                          new SelectListItem{Text = "14:00 h - 15:00 h", Value= "14:00" },
                          new SelectListItem{Text = "15:00 h - 16:00 h", Value= "15:00" },
                          new SelectListItem{Text = "16:00 h - 17:00 h", Value= "16:00" },
                          new SelectListItem{Text = "17:00 h - 18:00 h", Value= "17:00" },
                          new SelectListItem{Text = "18:00 h - 19:00 h", Value= "18:00" },
                          new SelectListItem{Text = "19:00 h - 20:00 h", Value= "19:00" },
                          new SelectListItem{Text = "20:00 h - 21:00 h", Value= "20:00" },
                          new SelectListItem{Text = "21:00 h - 22:00 h", Value= "21:00" },
                          new SelectListItem{Text = "22:00 h - 23:00 h", Value= "22:00" }
                       }, "Choose Houre to play", new { @id ="houres" ,@class = "form-control frm-field form-text", @style = "color: #fff; background: rgba(255, 255, 255, 0); border: none;border-bottom: 1px solid rgba(255, 255, 255, 0.27);box-sizing: border-box;font-family: 'Roboto', sans-serif;letter-spacing: 1.5px; padding: 0;outline: none;", @required = "" })
                </div>

                <div class="main-agile-sectns">
                    @Html.DropDownListFor(r => r.nbrPlayer, new List<SelectListItem>
                       {
                          new SelectListItem{Text = "7", Value= "7" },
                          new SelectListItem{Text = "8", Value= "8" },
                          new SelectListItem{Text = "9", Value= "9" },
                          new SelectListItem{Text = "10", Value= "10" },
                          new SelectListItem{Text = "11", Value= "11" }
                       }, "Number of Players", new { @id ="country" ,@class = "form-control frm-field form-text",@style = "padding :0;border-bottom: 1px solid rgba(255, 255, 255, 0.27);", @required ="" })

                </div>
                <br />
                <button class="btn btn-success form-control" type="button" onclick="saveRes()">Send</button>
               
                <div class="clear"></div>
            </form>

           
        </div>

    </div>
</div>
<br />

@section scriptReservation{
    
    <script type="text/javascript" src="~/reservation_form/js/jquery-2.2.3.min.js"></script>
    <!-- Time -->
    <script type="text/javascript" src="~/reservation_form/js/wickedpicker.js"></script>
    <!--// Time -->
    <!-- Calendar -->
    <script src="~/reservation_form/js/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#dateRes").datepicker({ minDate: new Date(), dateFormat: "yy-mm-dd", changeMonth: true, changeYear: true } );
             // $("#dateRes").datepicker({  });
           
        });

        function saveRes() {
            var data = $('#frmRes').serialize();
            $.ajax({
                type: "POST",
                data: data,
                url: "/Reservation/resSaveData",
                success: function (result) {

                    if (result == "success") {
                        $('#frmRes')[0].reset();
                        $.notify("Your reservation is done with success", { globalPosition: 'top-center', className: 'success' });
                    } else if (result == "fail") {
                        $.notify("This reservation is already booked", { globalPosition: 'top-center', className: 'error' });

                    } else {
                        $.notify("valid the inputs", { globalPosition: 'top-center', className: 'error' });
                    }

                }
            });
        }
    </script>
    <!-- //Calendar -->

}
